<style>
  a {
    text-decoration: none;
  }
  section {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: "Roboto", sans-serif;
    padding: 20px;
  }
  td,
  th {
    font-size: 16px;
  }
  td a {
    color: aliceblue;
  }
</style>

<section>
  <!--for demo wrap-->
  <h1 style="text-align: center">{{ listSanPham.length }} Sản phẩm</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Hình</th>
          <th>Tên</th>
          <th>Ngày</th>

          <th>Giá</th>
          <th>Thao tác</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr *ngFor="let p of listSanPham">
          <td>
            {{ p.id }}
          </td>
          <td>
            <img [src]="p.hinh" height="50" [title]="p.tensp | uppercase" />
          </td>
          <td>
            <a href [routerLink]="['/sanpham', p.id]">{{
              p.tensp | uppercase
            }}</a>
          </td>
          <td [innerText]="p.ngay | date: 'dd /MM/Y'"></td>
          <td>{{ p.giasp.toLocaleString("vn-VN") + " VND" }}</td>

          <td>
            <a href [routerLink]="['/admin/suaSP/', p.id]">Sửa</a> &nbsp;
            <a href="#" (click)="xoaSP(p.id)">Xóa</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
