<hr />
<form #frm1="ngForm" class="col-6 m-auto" (ngSubmit)="xulyDN(frm1.value)">
  <h4>THÀNH VIÊN ĐĂNG NHẬP</h4>
  <p>
    <label>Username</label>
    <input
      name="un"
      ngModel
      class="form-control"
      type="text"
      #name="ngModel"
      minlength="2"
      required
    />
    <em *ngIf="name.invalid" class="text-danger">
      Nhập tên đăng nhập chưa đúng.
    </em>
  </p>
  <p>
    <label>Password</label>
    <input
      name="pw"
      ngModel
      class="form-control"
      type="password"
      minlength="2"
      #pw="ngModel"
      required
    /><em *ngIf="pw.invalid" class="text-danger"> Passs chưa đúng. </em>
  </p>
  <p>
    <button type="submit" class="btn btn-outline-primary">Đăng nhập</button>
  </p>
</form>
