<style>
  form {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: "Roboto", sans-serif;
    padding: 20px;
  }
</style>
<!-- <p>
  Tén SP<input
    name="tensp"
    [(ngModel)]="sp.tensp"
    type="text"
    class="form-control"
  />
</p>
<p>
  Gia<input
    name="giasp"
    [(ngModel)]="sp.giasp"
    type="text"
    class="form-control"
  />
</p>

<p>
  Code
  <input name="code" [(ngModel)]="sp.code" type="text" class="form-control" />
</p>
<p>
  Ngay<input
    name="ngay"
    [(ngModel)]="sp.ngay"
    type="date"
    class="form-control"
  />
</p>

<p>
  MO ta<textarea
    name="mota"
    [(ngModel)]="sp.mota"
    class="form-control"
  ></textarea>
</p>
<button class="btn btn-warning py-2 px-5" (click)="themSP()">
  Thêm<button></button>
</button> -->
<form #frmSP="ngForm" class="col-6 m-auto" (ngSubmit)="spthem(frmSP.value)">
  <p>
    <label class="text-dark">Tên SP</label>
    <input name="tensp" ngModel class="form-control" type="text" />
  </p>
  <p>
    <label class="text-dark">Giá SP</label>
    <input name="giasp" ngModel class="form-control" type="number" />
  </p>
  <p>
    <label class="text-dark">Ngày</label>
    <input name="ngay" ngModel class="form-control" type="date" />
  </p>
  <p>
    <label class="text-dark">Hình</label>
    <input name="hinh" ngModel class="form-control" type="text" />
  </p>
  <p>
    <label class="text-dark">Mô tả</label>
    <input name="mota" ngModel class="form-control" type="text" />
  </p>
  <p><button type="submit" class="btn btn-success">Thêm SP</button></p>
</form>
