.container > header {
  /* height: 350px; */
}

.container > main {
  display: flex;
  min-height: 400px;
}
.container > footer {
  height: 35px;
  line-height: 35px;
}
a {
  text-decoration: none;
}
